[{:name "Wait Wait Dont Tell Me"
  :url "http://www.npr.org/rss/podcast.php?id=35"
  :max-files 1}
 {:name "This American Life"
  :url "http://feeds.thisamericanlife.org/talpodcast"}
 {:name "The Talk Show"
  :url "http://feeds.feedburner.com/the_talk_show"
  :max-files 1}
 {:name "Relevance Podcast"
  :url "http://feeds.feedburner.com/thinkrelevance/podcast"
  :max-files 1}
 {:name "Wetterbox"
  :url "http://pod.drs.ch/wetterbox_mpx.xml"
  :max-files 5}
 {:name "Wirtschaftswoche"
  :url "http://pod.drs.ch/drs4_wirtschaftswoche_mpx.xml"
  :max-files 1}]
